@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&family=Noto+Serif:wght@300;400;500;600;700&family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@400;500;600;700&family=Tangerine:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
  font-weight: 100;
  font-size: 17;
}

html {
  /* background: radial-gradient(
    circle,
    rgba(62, 75, 140, 1) 0%,
    rgba(4, 13, 61, 1) 100%
  ); */

  background: rgb(62, 75, 140);
  background: radial-gradient(
    circle,
    rgba(62, 75, 140, 1) 0%,
    rgba(4, 13, 61, 1) 100%
  );

  color: antiquewhite;
}
main {
  /* height: 100vh; */
  overflow: hidden;

  width: 100%;
}

a:visited {
  color: #6fc5ff;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0;
  background: transparent; /* make scrollbar transparent */
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 5rem;
}

.primary__button {
  font-size: 1.2rem;
  color: #6fc5ff;
  border-radius: 50px;
  border: solid 2px #6fc5ff;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in;
  height: 1.5rem;
  width: 3rem;
}

.primary__button:hover {
  border: solid 2px #6fc5ff;
  color: #c2ffd1;
}

.logo {
  font-family: "Tangerine", cursive;
  font-weight: 700;
}

.progress-bar {
  background: #a112cc;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

.video__container {
  position: fixed;
  /* z-index: -4; */
  height: 100vh;
  width: 100vw;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.animated__div {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.515) 0%,
    rgba(7, 92, 59, 0.548) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 50px;
  padding: 2rem;
}

video {
  height: 100%;
  width: 100%;
}

canvas {
  height: 100%;
  width: 100vw;
  background: rgb(62, 75, 140);
  background: radial-gradient(
    circle,
    rgba(62, 75, 140, 1) 0%,
    rgba(4, 13, 61, 1) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
}

button {
  background: transparent;
}

@media screen and (max-width: 900px) {
  section {
    margin: 2rem;
  }
}
